.btn {
  width: 9rem;
  height: 2.5rem;
  background-color: deepskyblue;
  border: 2px solid steelblue;
  border-radius: 10px;
  color: white;
}

.btn:disabled {
  background-color: lightgray;
  border: 2px solid silver;
}
