.card {
  margin: 2rem;
  width: 15rem;
  border-radius: 1rem;
}

.image {
  max-width: 100%;
  height: 15rem;
  max-height: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  /* border: 1px solid gray; */
}

.content_wrapper {
  margin: 0;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: whitesmoke;
}

.title {
  margin: 0;
  font-size: 1rem;
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  margin: 0;
  font-size: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
