.logo {
  font-weight: bold;
  font-size: 20px;
}

.header {
  position: relative;
  background-color: #def7ff;
}

.header_wrapper {
  max-width: 1140px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: space-between;
}

@media (max-width: 599px) {
  .header_wrapper {
    margin: auto;
    height: 70px;
    padding: 0 50px;
  }
}

.nav {
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .nav_wrapper {
    display: flex;
  }
}

@media (max-width: 599px) {
  .nav_wrapper {
    margin: 0;
    position: fixed;
    top: 70px;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #d9f0f7;
  }
}

.nav_item {
  list-style: none;
  cursor: pointer;
}

.nav_item div {
  display: block;
  padding: 0 1rem;
}

@media (max-width: 599px) {
  .nav_toggle {
    display: block;
    border: none;
    border-bottom: 1px solid gray;
    background-color: #def7ff;
  }
  .nav_item {
    list-style: none;
    cursor: pointer;
    margin: 0;
    height: 2.5rem;
    display: flex;
    align-items: center;
  }

  .nav_item div {
    display: block;
    padding: 0 1rem;
    border-bottom: 1px solid gray;
  }
}
