body {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  background-color: white;
}

@media (min-width: 600px) {
  .main {
    height: calc(100vh - 100px);
  }
}

@media (max-width: 599px) {
  .main {
    height: calc(100vh - 70px);
  }
}
